/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* end of reset */


.header{
    display:flex;
    background-color: rgb(151, 151, 151);
    width: 100%;
    height: 10em;


}
.icon-div{
    box-sizing:border-box; 
    width:20%;
   
}
#s-m-icon{
    display:block;
    width:50%;
    margin:auto;
}

.nav-header{

    height: 100%;
    width: 65%;
    background: rgb(216, 216, 216);
    

}


.btn-nav{
    box-sizing: border-box;
    height: 100%;
    width: 20%;
    font-size: 1.8em;

    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    display: inline-block; 

}

.btn-nav a{

padding-top: 10%;   



}

.first-div{
    position:relative;
    height: 8em;

    background-image: linear-gradient(to right , rgb(104, 104, 104) 50% , rgb(161, 161, 161) 50%);
}
.first-h1{
    width:100%;
    position:absolute;
    top:35%;
    left:0%;
    text-align: center;
    font-size:2em;

}
.first-h1-span{
    background-color:gray;
}

#h1-shadow{
    width:30%;
    position:absolute;
    top:45%;
    left:35%;
    
}






.second-container{
    width:100%;
    background-color: rgb(116, 108, 108);
    height: 64em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.within-second-1{
    box-sizing: border-box;
    width: 50%;
    border: 1px solid black; 
    
    background-color: rgb(104, 104, 104);

    height: 65%;

}
.within-second-3{
    box-sizing: border-box;
    width: 50%;
    border: 1px solid black; 
    
    background-color: rgb(85, 85, 85);
    height: 35%;

}


.within-second-2{
    box-sizing: border-box;
    width: 50%;
    border: 1px solid black;
    
    background-color: rgb(161, 161, 161);
    height: 65%;



}
.within-second-4{
    box-sizing: border-box;
    width: 50%;
    border: 1px solid black;
    
    background-color: rgb(104, 104, 104);

    height: 35%;





}


.third-container{
    width:100%;
    background-color: rgb(116, 108, 108);
    height: em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.in-third-container{
    box-sizing: border-box;
    width: 33%;
    height: 30.4em;
    border: 1px solid black; 
}

.in-sixth-container{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black; 
    height: 33.4em;
    margin: 12% auto auto 0%;



}


.fourth-container{
    width:100%;
    height: 38em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sixth-container{
    width:100%;
    height: 38em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.in-fourth-container-1{
    box-sizing: border-box;
    width: 30%;
    border: 1px solid black; 
}
.in-fourth-container-2{
    box-sizing: border-box;
    width: 70%;
    border: 1px solid black; 
}


.rounded-div-1{
    box-sizing: border-box;
    width: 75%;
    border: 1px solid black; 
    height: 40%;
    border-radius: 1em;
    margin: 28% 4% auto auto;
    background: rgb(221, 218, 218);
}

.rounded-div-2{
    box-sizing: border-box;
    width: 80%;
    border: 1px solid black; 
    height: 85%;
    border-radius: 1em;
    margin: 7% auto 3% 2%;
    background: rgb(100, 96, 96);

}

.in-sixth-rounded-div-2{
    box-sizing: border-box;
    width: 90%;
    border: 1px solid black; 
    height: 85%;
    border-radius: 1em;
    margin: 6% auto 3% 0%;
    background: rgb(100, 96, 96);

}


/* 7 container "Latest Articles */

.latest-articles{

    height: 10em;
    background: grey;

}


/* 8 container "Blue picture */

.blue-picture{

    height: 45em;
    background: rgb(119, 102, 102);

}

/* 9 container "community links*/

.community-links{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:grey;
    height: 80em;
    box-sizing: border-box;
}



.person-of-week.big{ 
    background:grey;
    width:100%;
    height: 25%;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.person-of-week-img-div{
    width:30%

}
.person-of-week-article-div{
    width:70%
}
.person-of-week-h3{

}
.person-of-week-article{

}


.person-of-week-small{ 
    background:grey;
    width:100%;
    height: 25%;
    border:1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.person-of-week-small-img-div{
    width:30%

}
.person-of-week-small-article-div{
    width:70%
}
.person-of-week-small-h3{

}
.person-of-week-small-article{

}



/* 10 container 'design systems'*/


.design-systems{

    height: 14em;
    background: rgb(63, 63, 63);
}

/* 11 container 'curated posts'*/

.curated-posts{

    height: 90em;
    background: rgb(223, 223, 223);
    box-sizing: border-box;
}


.side-curated{
    width: 3%;
    float: left;
    height: 100%;
    background: yellow;
    box-sizing: border-box;
}

.main-curated{
    width: 97%;
    height: 87%;
    float: right;
    background: pink;
    box-sizing: border-box;
    margin: 2% auto;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.article-curated{

    height: 50%;
    width: 32.5%;
    box-sizing: border-box;
    background: grey;
    border: 1px solid black;
    



}


.round-curated{

    height: 48%;
    width: 62%;
    box-sizing: border-box;
    background: rgb(80, 80, 80);
    border: 1px solid black;
    border-radius: 2%;
    position: relative;

    top: 4%;
}


.see-curated{
font-size: 1em;
position: relative;
left: 38%;
top: 4%;
text-decoration:underline grey;

}
/* 11 container 'curated posts'*/


footer{
    height: 33em;
    background: rgb(78, 78, 78);
}

