/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* end of reset */


.header{
    display:flex;
    background-color: rgb(131, 129, 129);
    width: 100%;
    height: 10em;


}
.icon-div{
    box-sizing:border-box; 
    width:20%;
   
}
#s-m-icon{
    display:block;
    width:40%;
    margin:10% auto;
}

.nav-header{

    height: 100%;
    width: 65%;
    background-color: rgb(131, 129, 129);    

}


.btn-nav{
    box-sizing: border-box;
    height: 100%;
    width: 20%;
    font-size: 1.8em;
    box-sizing: border-box;
    text-align: center;
    display: inline-block; 
    padding: 40% auto;

}

.btn-nav a{
text-decoration: none;
color: black;
}

.btn-nav a:hover{

    color: white;



}



.btn-nav li{

    position: relative;
    top: 40%;
}
.btn-nav h4{
font-size: 0.5em;
}

/* Search bar */

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 35%;
    background: #f1f1f1;
    margin-left: 15%;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: rgb(156, 156, 156);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #737374;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }



  /*after header*/

.first-div{
    position:relative;
    height: 8em;

    background-image: linear-gradient(to right , rgb(104, 104, 104) 50% , rgb(161, 161, 161) 50%);
}
.first-h1{
    width:100%;
    position:absolute;
    top:35%;
    left:0%;
    text-align: center;
    font-size:2em;

}
.first-h1-span{
    background-color:gray;
}

#h1-shadow{
    width:30%;
    position:absolute;
    top:45%;
    left:35%;
    
}






.second-container{
    width:100%;
    background-color: rgb(116, 108, 108);
    height: 64em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.within-second-1{
    box-sizing: border-box;
    width: 50%;
    border: 1px solid black; 
    
    background-color: rgb(104, 104, 104);

    height: 65%;

}
.within-second-3{
    box-sizing: border-box;
    width: 50%;
    border: 1px solid black; 
    
    background-color: rgb(85, 85, 85);
    height: 35%;

}


.within-second-2{
    box-sizing: border-box;
    width: 50%;
    border: 1px solid black;
    
    background-color: rgb(161, 161, 161);
    height: 65%;



}
.within-second-4{
    box-sizing: border-box;
    width: 50%;
    border: 1px solid black;
    
    background-color: rgb(104, 104, 104);

    height: 35%;





}


/* text within second container */

.text-second-1{

    height: 50%;
    width: 80%;
    background: #4CAF50;

    margin: 20% 15% auto auto;
}

.text-second-2{

    height: 50%;
    width: 80%;
    background: #4CAF50;

    margin: 20% 15% auto auto;
}

.text-second-3{

    height: 75%;
    width: 80%;
    background: #4CAF50;

    margin: 5% 15% auto auto;
}
.text-second-4{

    height: 75%;
    width: 80%;
    background: #4CAF50;

    margin: 5% 15% auto auto;
}


.photo-wrote{

    height: 25%;
    width: 100%;
    border: 1px solid black;
}

.photo-in-second{

    height: 100%;
    width: 25%;
    border: 1px solid black;
}




.third-container{
    width:100%;
    background-color: rgb(116, 108, 108);
    height: em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.in-third-container{
    box-sizing: border-box;
    width: 33%;
    height: 30.4em;
    border: 1px solid black; 
}

.in-sixth-container{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black; 
    height: 33.4em;
    margin: 12% auto auto 0%;



}


.fourth-container{
    width:100%;
    height: 38em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sixth-container{
    width:100%;
    height: 38em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.in-fourth-container-1{
    box-sizing: border-box;
    width: 30%;
    border: 1px solid black; 
}
.in-fourth-container-2{
    box-sizing: border-box;
    width: 70%;
    border: 1px solid black; 
}


.rounded-div-1{
    box-sizing: border-box;
    width: 75%;
    border: 1px solid black; 
    height: 40%;
    border-radius: 1em;
    margin: 28% 4% auto auto;
    background: rgb(221, 218, 218);
}

.rounded-div-2{
    box-sizing: border-box;
    width: 80%;
    border: 1px solid black; 
    height: 85%;
    border-radius: 1em;
    margin: 7% auto 3% 2%;
    background: rgb(100, 96, 96);

}

.in-sixth-rounded-div-2{
    box-sizing: border-box;
    width: 90%;
    border: 1px solid black; 
    height: 85%;
    border-radius: 1em;
    margin: 6% auto 3% 0%;
    background: rgb(100, 96, 96);

}


/* 7 container "Latest Articles */

.latest-articles{

    height: 10em;
    background: grey;

}


/* 8 container "Blue picture */

.blue-picture{

    height: 45em;
    background: rgb(119, 102, 102);
    background-image: url(images/space-cat-toronto.svg);
    background-repeat: no-repeat;
    background-size: 55%, 55%;
    background-position-x: 50%;
    background-position-y: 110%;

}



.blue-text{
    height: 40%;
    width: 45%;
    background: white;
    border: 1px solid black;
    position: relative;
    top: 5%;
    left: 26%;


}


.blue-button{
        height: 20%;
        width: 50%;
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      

}

/* 9 container "community links*/

.community-links{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:grey;
    height: 80em;
    box-sizing: border-box;
}
.community-links-left-bar{
    height: 100%;
    width:4%;
    background:rgb(153, 30, 81);
}
.right-div{
    width:96%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:grey;
    height: 80em;
    box-sizing: border-box;

}


.person-of-week.big{ 
    background:grey;
    width:100%;
    height: 25%;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}


.person-of-week-img-div{
    box-sizing: border-box;
    border:1px solid black;
    width:30%;

}
.person-of-week-article-div{
    width:70%;
    box-sizing: border-box;
    border:1px solid black;
}
.person-of-week-h3{
    box-sizing: border-box;
    
    border:1px solid black;

}
.person-of-week-article{
    box-sizing: border-box;
    border:1px solid black;

}


.person-of-week-small{ 
    background:grey;
    width:50%;
    height: 25%;
    border:1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.person-of-week-small-img-div{
    width:30%;
    box-sizing: border-box;
    
    border:1px solid black;

}
.person-of-week-small-article-div{
    width:70%;
    box-sizing: border-box;
    
    border:1px solid black;
}

.shared-title{
    box-sizing: border-box;
    
    border:1px solid black;


}
.person-of-week-small-h3{
    box-sizing: border-box;
    
    border:1px solid black;

}
.person-of-week-small-article{
    box-sizing: border-box;
    
    border:1px solid black;
}



/* 10 container 'design systems'*/


.design-systems{

    height: 14em;
    background: rgb(63, 63, 63);
}

/* 11 container 'curated posts'*/

.curated-posts{

    height: 90em;
    background: rgb(223, 223, 223);
    box-sizing: border-box;
}


.side-curated{
    width: 3%;
    float: left;
    height: 100%;
    background: yellow;
    box-sizing: border-box;
}

.main-curated{
    width: 97%;
    height: 87%;
    float: right;
    background: pink;
    box-sizing: border-box;
    margin: 2% auto;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.article-curated{

    height: 50%;
    width: 32.5%;
    box-sizing: border-box;
    background: grey;
    border: 1px solid black;
    



}


.round-curated{

    height: 48%;
    width: 62%;
    box-sizing: border-box;
    background: rgb(80, 80, 80);
    border: 1px solid black;
    border-radius: 2%;
    position: relative;

    top: 4%;
}


.see-curated{
font-size: 1em;

text-decoration:underline grey;

}
/* 11 container 'curated posts'*/


footer{
    height: 33em;
    background: rgb(78, 78, 78);
    padding:2%;
}
.list-footer-div{

    margin-left:25%;
}

.list-footer{
    list-style-type: circle;
    
    background-color: #4CAF50;

}

.list-footer li{
    float: left;
    margin: 1%;
}



